.root{
	-fx-background-color:#FFFFFF;
}

#rich-blue{
	-fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
	-fx-background-insets: 0,1,2,3;
	-fx-background-radius: 3,2,2,2;
	-fx-padding: 12 30 12 30;
	-fx-text-fill: white;
	-fx-font-size: 22px;
	-fx-font-family: serif;
}
#rich-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

#rich-blue:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);


}

#rich-blue:pressed{
	-fx-effect: innershadow(gaussian,black,25,0.2,0,4);
}

#large-blue-text{
    -fx-text-fill: #003F96;
    -fx-font-size: 22px;
    -fx-font-family: serif;

}

#game-setup-screen {

}

#red-node{
    -fx-background-color: red;
    -fx-background-radius: 200;
    -fx-text-fill: white;

}

#black-node{
    -fx-background-color: black;
    -fx-background-radius: 200;
    -fx-text-fill: white;

}

#default-label{
    -fx-font-size: 14pt;
    -fx-font-family: serif;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#player-setup-pane{
    -fx-background-color: rgba(255,255,255,.2);
    -fx-background-insets: 10 0 10 20;
}

.vbox{
	-fx-spacing: 10px;
}